<div class="instituicoes-list">
  @for (instituicao of instituicoesDoUsuario(); track instituicao.id) {
    <h2 class="instituicoes-title"><mat-icon>school</mat-icon> {{ instituicao.nome }}</h2>
    <div class="instituicoes-grid">
      @for (materia of materias(); track materia.id) {
        @if (materia.idInstituicao === instituicao.id) {
          <app-materias-card
            [materia]="materia"
            [limiteFaltas]="instituicao.percentual_limite_faltas"
            (faltaAdicionada)="addFalta($event.idMateria, $event.quantidade)"
          ></app-materias-card>
        }
      }
      <button class="add-materia-button" routerLink="/add-materia/{{ instituicao.id }}">
        <mat-icon class="add-icon">add_circle</mat-icon><span>Adicionar matéria</span>
      </button>
    </div>
  }
  @if(isPremiumUser()){
    <button class="add-instituicao-button" routerLink="/add-instituicao">
      <mat-icon class="add-icon">add</mat-icon><span>Adicionar instituição</span>
    </button>
  }@else {
    <button class="add-instituicao-button">
      <mat-icon class="add-icon">diamond</mat-icon><span>Adicionar instituição</span>
    </button>
  }
</div>
