<mat-toolbar class="header-component">
  <a routerLink="/home" class="logo-link">
    <span class="logo">SkipD</span>
  </a>

  <span class="spacer"></span>

  <div class="right-section">
    <a mat-button routerLink="/insights" class="insights-link">
      <mat-icon class="insights-icon">auto_awesome</mat-icon> <span>Insights</span>
    </a>

    <button mat-icon-button
      matTooltip="Ver Perfil"
      (click)="hideLogoutButton()"
      aria-label="Link para a página de perfil do usuário"
      class="profile-link"> <mat-icon class="user-profile-button">account_circle</mat-icon>
  </button>

    @if(isLogoutButtonVisible){
      <button mat-icon-button (click)="logout()" class="profile-link" style="border-radius: 12px;background-color: #c62828;">
        <mat-icon>logout</mat-icon>
      </button>
    }
  </div>
</mat-toolbar>
