<mat-toolbar class="header-component">
  <a routerLink="/home" class="logo-link">
    <span class="logo">SkipD</span>
  </a>

  <span class="spacer"></span>

  <div class="right-section">
    @if(isPremiumUser()) {
    <a mat-button routerLink="/insights" class="insights-link">
      <mat-icon class="insights-icon">auto_awesome</mat-icon>
      <span>Insights</span>
    </a>
    } @else {
    <a mat-button class="insights-link" (click)="showPremiumMessage()">
      <mat-icon class="insights-icon">diamond</mat-icon>
      <span>Insights</span>
    </a>
    }

    <button
      mat-icon-button
      routerLink="/usuario"
      matTooltip="Ver Perfil"
      aria-label="Link para a página de perfil do usuário"
      class="profile-link"
    >
      @if(!urlImage() || urlImage() === ''){
      <mat-icon class="user-profile-button">account_circle</mat-icon>
      } @else {
      <img
        [src]="urlImage()"
        alt="User Photo"
        class="user-profile-image"
        (error)="onImageError()"
      />
      }
    </button>
  </div>
</mat-toolbar>

@if(showPremiumDialog){
<app-premium-dialog
  (visibleChange)="showPremiumDialog = $event"
></app-premium-dialog>
}
