<app-header></app-header>
<div class="insights-container">
  <div class="header-cards">
    <div class="card secure-window">
      <h3>Janela Segura Para Faltar</h3>
      <p>Você faltar tranquilamente Segundas, Terças e Sextas</p>
    </div>
    <div class="card pattern-analysis">
      <h3>Análise de Padrão</h3>
      <p>Cuidado com as faltas as Quartas-Feiras! está prestes a reprovar em Redes de Computadores</p>
    </div>
  </div>

  <section class="calendar-section">
    <h2>Calendário Semanal</h2>

    <table class="calendar-table">
      <thead>
        <tr>
          <th>Dom</th><th>Seg</th><th>Ter</th><th>Qua</th><th>Qui</th><th>Sex</th><th>Sáb</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td>
            <div class="event">Desenvolvimento Web Full Stack</div>
            <div class="event">Algoritmo e Estrutura de Dados I</div>
            <div class="event">Cálculo I</div>
          </td>
          <td>
            <div class="event">Desenvolvimento Web Full Stack</div>
            <div class="event">Algoritmo e Estrutura de Dados I</div>
            <div class="event">Cálculo I</div>
          </td>
          <td>
            <div class="event warning">Redes de Computadores</div>
          </td>
          <td>
            <div class="event">Desenvolvimento Web Full Stack</div>
            <div class="event warning">Inteligência Artificial</div>
          </td>
          <td>
            <div class="event">Desenvolvimento Web Full Stack</div>
            <div class="event">Banco de Dados</div>
          </td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </section>
</div>
