<mat-toolbar class="header-component">
  <a routerLink="/home" class="logo-link">
    <span class="logo">SkipD</span>
  </a>

  <span class="spacer"></span>

  <div class="right-section">
    <a mat-button routerLink="/insights" class="insights-link">
      <mat-icon class="insights-icon">auto_awesome</mat-icon> <span>Insights</span>
    </a>

    <a mat-icon-button
      matTooltip="Ver Perfil"
      (click)="hideLogoutButton()"
      aria-label="Link para a página de perfil do usuário"
      class="profile-link"> <mat-icon class="user-profile-button">account_circle</mat-icon>
    </a>

    @if(isLogoutButtonVisible){
      <button (click)="logout()" style="cursor: pointer;">
        <mat-icon class="logout-icon">logout</mat-icon>
        <span>Logout</span>
      </button>
    }
  </div>
</mat-toolbar>
