<div class="top-border"></div>

<div class="login-container">
  <div class="login-card">
    <div class="title-container">
      <h1 class="title">SkipD</h1>
      <p class="subtitle">Bem-vindo(a) de volta!</p>
    </div>
    @if(errorLogin) {
      <div class="error-message">
        Ocorreu um erro ao tentar fazer login. Por favor, tente novamente.
      </div>
    }@else if (incorretLogin) {
      <div class="error-message">
        Email ou senha incorretos. Por favor, tente novamente.
      </div>
    }
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

      <div class="col" [ngClass]="invalidFieldClass('email')">
        <label for="email">Email</label>
        <input id="email" type="email" placeholder="Digite seu email" formControlName="email" required  (ngModelChange)="changeIncorrectFormField()"/>
        @if (loginForm.get('email')?.invalid && submitted) {
          <div class="error-message">
            @if(loginForm.get('email')?.errors?.['required']) {
              O email é obrigatório.
            }@else if (loginForm.get('email')?.errors?.['email']) {
              O email deve ser válido.
            }
          </div>
        }
      </div>

      <div class="col password-container" [ngClass]="invalidFieldClass('password')">
        <label for="password">Senha</label>
        <div class="input-group">
          <input id="password" [type]="showPassword ? 'text' : 'password'" placeholder="Digite sua senha" formControlName="password" required  (ngModelChange)="changeIncorrectFormField()"/>
          <button type="button" class="toggle-password-visibility" (click)="togglePasswordVisibility()">
            <mat-icon class="password-icon">{{ showPassword ? 'visibility' : 'visibility_off' }}</mat-icon>
          </button>
        </div>
        @if (loginForm.get('password')?.invalid && submitted) {
          <div class="error-message">
            @if(loginForm.get('password')?.errors?.['required']) {
              A senha é obrigatória.
            }@else if (loginForm.get('password')?.errors?.['minlength'] || loginForm.get('password')?.errors?.['maxlength']) {
              A senha deve ter entre 6 e 20 caracteres.
            }
          </div>
        }
      </div>

      <div class="forgot-password-container">
        <a class="forgot" routerLink="/esqueci-senha">Esqueci minha senha</a>
      </div>

      <button type="submit">Entrar</button>
    </form>

    <p class="register-link">
      Ainda não tem uma conta?<br />
      <a routerLink="/cadastro">Cadastre-se aqui.</a>
    </p>
  </div>
</div>
