@use "sass:color";

$primary-color: #6b2cf9;
$font-color: #ffffff;

.button-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-right: 20px;
}

.add-materia-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border-radius: 10px;
  width: 180px;
  height: 40px;
  background-color: $primary-color;
  margin-top: 20px;
  color: $font-color;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  .add-icon {
    width: 24px;
    height: 24px;
    font-size: 24px;
  }
}

.add-materia-button:hover {
  background-color: color.adjust($primary-color, $lightness: -10%);
  color: color.adjust($font-color, $lightness: -20%);
  cursor: pointer;
}
