$font-color: #c0a6fa;
$font-main: "Roboto", sans-serif;
$color-primary: #8a2be2;
$color-gradient-start: #4a00e0;
$color-gradient-end: #8a2be2;
$color-bg-dark: #1e1e2f;
$color-bg-light: #2a2a41;
$color-border: #383854;
$color-text: #e0e0e0;
$color-muted: #a0a0b0;
$transition-speed: 0.3s;
$transition-ease: ease-in-out;
$radius: 12px;
$radius-sm: 6px;

.gi-container {
  min-height: calc(100vh - 96px);
  padding: 2rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gi-content {
  max-width: 900px;
  width: 100%;
  text-align: center;
  color: white;
  background-color: $color-bg-dark;
  border-radius: $radius;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gi-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 2rem;
  width: 100%;
  .spacer {
    flex-grow: 1;
  }
  border-bottom: 1px solid $color-border;
}

.back-icon {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  color: $color-text;
  cursor: pointer;
  font-size: 2rem;
  height: 2rem;
  width: 2rem;
  &:hover {
    color: #a78bfa;
  }
}

.page-title {
  font-size: 1.75rem;
  font-weight: 600;
  color: #a78bfa;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  margin: 0 auto;
  margin-left: 40px;
}

.gi-body {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.btn {
  padding: 14px;
  border: none;
  border-radius: $radius;
  font-family: $font-main;
  font-size: 0.875rem;
  font-weight: 700;
  cursor: pointer;
  transition: transform $transition-speed $transition-ease,
  box-shadow $transition-speed $transition-ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  }
}
.add-instituicao-button {
  @extend .btn; // Herda os estilos base do .btn
  gap: 8px;
  width: 200px;
  height: 44px;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 0.8rem;
  padding: 0 20px; // Ajuste no padding para altura fixa
  background: linear-gradient(
    90deg,
    $color-gradient-start,
    $color-gradient-end
  );
  color: $color-text;

  .add-icon {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.premium {
    background: linear-gradient(90deg, #f59e0b, #fbbf24);
    color: #000;

    .add-icon {
      color: #000;
    }
  }
}
