:host {
  display: block;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #1c1c2b;
  font-family: 'Segoe UI', sans-serif;
  color: white;
}

/* BORDAS SUPERIOR E INFERIOR */
.top-border,
.bottom-border {
  height: 24px;
  background: linear-gradient(to right, #9b5de5, #7a29cc, #9b5de5);
}

/* CONTAINER CENTRAL */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 48px); // subtrai as bordas
  text-align: center;
  padding: 1rem;
}

.title {
  font-family: 'Jaro', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.2rem;
  color: white;
  text-align: center;
  display: flex;
}

.subtitle {
  font-size: 15px;
  color: #b78fff;
  margin-bottom: 0.8rem;
  font-weight: bold;
}

/* CARD TRANSLÚCIDO */
.login-card {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 1rem;
  border-radius: 12px;
  width: 150%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.25);
}

/* FORMULÁRIO */
form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  label {
    font-size: 14px;
    text-align: left;
    font-weight: 600;
    margin-bottom: 0.2rem;
  }

  input {
    width: 100%;
    padding: 0.45rem 0.6rem;
    border-radius: 6px;
    border: none;
    outline: none;
    background-color: #1f1f1f;
    color: white;
    font-size: 14px;

    &::placeholder {
      color: #777;
    }
  }

  .forgot {
    font-size: 0.85rem;
    text-align: right;
    color: #9b5de5;
    text-decoration: none;
    margin-top: -0.5rem;
    margin-bottom: 0.5rem;

    &:hover {
      text-decoration: underline;
    }
  }

  .col {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  button {
    padding: 0.55rem;
    margin: 0.55rem;
    background: linear-gradient(90deg, #9b5de5, #7c3aed);
    color: white;
    border: none;
    border-radius: 999px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      opacity: 0.9;
    }

    &:disabled {
      background: #888;
      cursor: not-allowed;
    }
  }
}

.register-link {
  margin-top: 5px;
  font-size: 0.85rem;
  text-align: center;

  a {
    color: #9b5de5;
    text-decoration: none;
    font-weight: bold;

    &:hover {
      text-decoration: none;
      opacity: 0.8;
    }
  }
}
