<section class="calendar-section">
  <h2>Calendário Semanal</h2>

  <div class="table-container">
    <table class="calendar-table">
      <thead>
        <tr>
          @for (dia of dias; track $index) {
            <th>{{ dia | titlecase }}</th>
          }
        </tr>
      </thead>
      <tbody>
        <tr>
          @for (eventosDia of eventosSemana; track $index) {
            <td>
              @for (evento of eventosDia; track $index) {
                <div class="event"
                     [ngClass]="{
                        'failed': evento.toLowerCase().includes('engenharia'),
                        'warning': evento.toLowerCase().includes('programação'),
                        'sucess': evento.toLowerCase().includes('matemática') || evento.toLowerCase().includes('desenvolvimento')
                     }">
                  {{ evento }}
                </div>
              }
            </td>
          }
        </tr>
      </tbody>
    </table>
  </div>
</section>
