<app-header></app-header>
  <div class="add-materia-container">
    <div class="title-container"><h1>Adicionar Matéria</h1></div>
  <div class="form-container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <!-- Campo Nome da Matéria -->
        <div class="form-group" [ngClass]=" invalidSubmitClass('nome')">
            <label for="materia-nome">Matéria *</label>
            <input type="text" id="materia-nome" name="materia-nome" placeholder="Nome da Matéria" formControlName="nome" required>
            @if (form.get('nome')?.hasError('required') && form.get('nome')?.touched) {
              <span class="error-message">O nome da matéria é obrigatório.</span>
            }
        </div>


        <!-- Campo Carga Horária -->
        <div class="form-group" [ngClass]=" invalidSubmitClass('cargaHorariaTotal')">
            <label for="carga-horaria">Carga Horária (h)*</label>
            <input type="number" id="carga-horaria" name="carga-horaria" placeholder="Carga Horária Total em Horas" formControlName="cargaHorariaTotal" required>
            @if (form.get('cargaHorariaTotal')?.hasError('required') && form.get('cargaHorariaTotal')?.touched) {
              <span class="error-message">A carga horária total é obrigatória.</span>
            }
        </div>

        <!-- Campo Instituição -->
        <div class="form-group">
            <label for="instituicao">Instituição*</label>
            <select id="instituicao" name="instituicao" formControlName="idInstituicao" required>
                <option value="" disabled>Selecione a Instituição</option>
                @for(instituicao of instituicoes(); track instituicao.id){
                    <option [value]="instituicao.id">{{ instituicao.nome }}</option>
                }
              </select>
        </div>

        <div class="form-group" [ngClass]=" invalidSubmitClass('faltas')">
            <label for="carga-horaria">Faltas*</label>
            <input type="number" id="carga-horaria" name="carga-horaria" placeholder="Faltas já existentes" formControlName="faltas" required>
            @if (form.get('faltas')?.hasError('required') && form.get('faltas')?.touched) {
              <span class="error-message">O número de faltas é obrigatório.</span>
            }
        </div>

        <div class="form-group">
            <label>Aulas na Semana</label>
            <div class="dias-semana-grid">
                @for(dia of diasDaSemana; track dia.id){
                    <div class="dia-item" >
                      <span>{{ dia.viewValue }}</span>
                      <input type="checkbox" class="dia-checkbox" formControlName="is_{{dia.viewValue.toLowerCase()}}_checked">
                      @if(form.get(`is_${dia.viewValue.toLowerCase()}_checked`)?.value){
                        <select type="number"
                        class="horas-select"
                        formControlName="hor_{{dia.viewValue.toLowerCase()}}"
                        [ngClass]="invalidSubmitClass('hor_' + dia.viewValue.toLowerCase())"
                        required>
                          <option [value]="1">1 h</option>
                          <option [value]="2">2 h</option>
                          <option [value]="3">3 h</option>
                          <option [value]="4">4 h</option>
                          <option [value]="5">5 h</option>
                          <option [value]="6">6 h</option>
                          <option [value]="7">7 h</option>
                          <option [value]="8">8 h</option>
                        </select>
                      }
                  </div>
                }
            </div>
        </div>

        <!-- Botões de Ação -->
        <div class="form-buttons">
            <!-- O type="button" impede que o botão cancele o formulário -->
            <button type="button" class="btn btn-cancelar" (click)="onCancel()">Cancelar</button>
            <button type="submit" [disabled]="form.invalid" class="btn btn-salvar">Salvar</button>
        </div>
    </form>
  </div>
</div>
