<app-header></app-header>
<div class="add-materia-container">
  <div class="form-container">
    <div class="title-container">
      <h1>{{ isEditMode ? "Editar Matéria" : "Adicionar Matéria" }}</h1>
    </div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group" [ngClass]="invalidFieldClass('nome')">
        <label for="materia-nome">Matéria *</label>
        <input
          type="text"
          id="materia-nome"
          name="materia-nome"
          placeholder="Nome da Matéria"
          formControlName="nome"
          required
        />
        @if (form.get('nome')?.invalid && (form.get('nome')?.touched ||
        submitted)) {
        <div class="error-message">
          @if(form.get('nome')?.errors?.['required']) { O nome da matéria é
          obrigatório. }@else if (form.get('nome')?.errors?.['minlength'] ||
          form.get('nome')?.errors?.['maxlength']) { O nome da matéria deve ter
          entre 3 e 50 caracteres. }
        </div>
        }
      </div>

      <div
        class="form-group"
        [ngClass]="invalidFieldClass('cargaHorariaTotal')"
      >
        <label for="carga-horaria">Carga Horária (h)*</label>
        <input
          type="number"
          id="carga-horaria"
          name="carga-horaria"
          placeholder="Carga Horária Total em Horas"
          formControlName="cargaHorariaTotal"
          required
        />
        @if (form.get('cargaHorariaTotal')?.invalid &&
        (form.get('cargaHorariaTotal')?.touched || submitted)) {
        <div class="error-message">
          @if(form.get('cargaHorariaTotal')?.errors?.['required']) { A carga
          horária é obrigatória. }@else if
          (form.get('cargaHorariaTotal')?.errors?.['min']) { A carga horária
          deve ser maior que 0. }
        </div>
        }
      </div>

      <div class="form-group" [ngClass]="invalidFieldClass('idInstituicao')">
        <label for="instituicao">Instituição*</label>
        <select
          id="instituicao"
          name="instituicao"
          formControlName="idInstituicao"
          required
        >
          <option value="" disabled>Selecione a Instituição</option>
          @for(instituicao of instituicoesDoUsuario(); track instituicao.id){
          <option [value]="instituicao.id">{{ instituicao.nome }}</option>
          }
        </select>
      </div>

      <div class="form-group" [ngClass]="invalidFieldClass('faltas')">
        <label for="carga-horaria">Faltas*</label>
        <input
          type="number"
          id="carga-horaria"
          name="carga-horaria"
          placeholder="Faltas já existentes"
          formControlName="faltas"
          required
        />
      </div>

      @if(isPremiumUser()){
      <div class="form-group">
        <label>Aulas na Semana</label>
        <div class="dias-semana-grid">
          @for(dia of diasDaSemana; track dia.id){
          <div class="dia-item">
            <span>{{ dia.viewValue }}</span>
            <input
              type="checkbox"
              class="dia-checkbox"
              formControlName="is_{{ dia.viewValue.toLowerCase() }}_checked"
            />
            @if(form.get(`is_${dia.viewValue.toLowerCase()}_checked`)?.value){
            <select
              type="number"
              class="horas-select"
              formControlName="hor_{{ dia.viewValue.toLowerCase() }}"
              [ngClass]="
                invalidFieldClass('hor_' + dia.viewValue.toLowerCase())
              "
              required
            >
              <option [value]="1">1 h</option>
              <option [value]="2">2 h</option>
              <option [value]="3">3 h</option>
              <option [value]="4">4 h</option>
              <option [value]="5">5 h</option>
              <option [value]="6">6 h</option>
              <option [value]="7">7 h</option>
              <option [value]="8">8 h</option>
            </select>
            }
          </div>
          }
        </div>
      </div>
      }@else {
      <div class="form-group">
        <label>Aulas na Semana</label>
        <span class="premium-message"
          ><mat-icon>lock</mat-icon> Recurso disponível apenas para usuários
          <mat-icon>diamond</mat-icon>Premium.</span
        >
      </div>
      } @if (form.invalid && submitted) {
      <div class="error-message">
        <span
          >Por favor, preencha todos os campos obrigatórios corretamente.</span
        ><br />
        <span>Campos marcados com * são obrigatórios.</span>
      </div>
      }

      <div class="form-buttons">
        <button type="button" class="btn btn-cancelar" (click)="onCancel()">
          Cancelar
        </button>
        <button type="submit" class="btn btn-salvar">
          {{ form.value.id ? "Salvar" : "Adicionar" }}
        </button>
      </div>
    </form>
  </div>
</div>
<app-dialog
  [title]="'Tem certeza que deseja cancelar?'"
  [isVisible]="showCancelDialog"
  (isVisibleChange)="showCancelDialog = $event"
  [dialogType]="'warning'"
  [message]="'Todas as alterações não salvas serão perdidas.'"
></app-dialog>

<app-dialog
  [title]="`Matéria ${isEditMode ? 'editada' : 'adicionada'} com sucesso!`"
  [isVisible]="showSubmitDialog"
  (isVisibleChange)="showSubmitDialog = $event"
  [dialogType]="'confirmation'"
  [message]="`A matéria foi ${isEditMode ? 'editada' : 'adicionada'} com sucesso.`"
  [showCancelButton]="false"
></app-dialog>
